* {
  font-size: 17px;
}
#main{
  background-color: #404853;
  border-top-style: solid;
  border-width: .5px;
  margin: -10px;
  padding: 10px;
}

h1{
  color: #404853;
}

#info{
  color: #404853;
}

  #posts{
    display: inline-block;
    background-color: white;
    margin-left: 200px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    width: 650px;
  }
