*{
  font-family: times;
}

#singlepost{
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
  width: 605px;
  padding: 20px 20px 0px 20px;
  border-style: solid;
  border-width: .05px;
  border-color: #404853;
}

#timestamp{
  font-size: 12px;
}

#messageuser{
  color: #6799ff;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

#singlemessage{
  margin-bottom: 10px;
}

#likepost{
  font-size: 12px;
  display: inline-block;
  background-color: #6799ff;
  color: white;
  padding: 5px 10px 5px 10px;
  border-style: none;
}

#bottompost{
  display: inline-block;
  margin-top: 10px;
  font-style: italic;
}

#comment{
  display:block;
  margin-left: 20px;
  width: 550px;
  font-size: 15px;
}
#commentuser{
  color: #6799ff;
  text-decoration: none;
}
#commentaction{
  margin: 10px;
  margin-left: 20px;
}
#writecomment{
  font-size: 16px;
  width: 485px;
}
#postcomment{
  background-color: #6799ff;
  border-style: none;
  color: white;
  padding: 4px;
  font-size: 13px;
  margin-left: -5px;
}

#comment_delete{
  float: right;
  margin-right: 10px;
  color: red;
}

#delete{
  font-size: 12px;
  display: inline-block;
  float: right;
  color: #404853;
  padding: 5px 10px 5px 10px;
  border-style: none;
  margin-bottom: 10px;
}

#edit{
  font-size: 12px;
  display: inline-block;
  color: #404853;
  padding: 5px 10px 5px 10px;
  border-style: none;
  margin-bottom: 10px;
}
