{% extends 'message_app/navbar.html' %}
{% block page_title %}Agorean | About{% endblock page_title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'message_app/about.css' %}">
  <div id = "main">
    <div id = "posts">
      <h1>About Agorean</h1>
      <img id="squid" src="../media/agorean_squid.jpg" alt="">
      <p>Agorean is a social media platform allowing users to share their stories with the world.</p>
      <p>Put together with Python's Django framework, it was made to allow users to login and/or register to post stories, comment under stories, and like stories. The site also allows users to edit and delete their own posts.</p>
    </div>
  </div>
{% endblock %}
