{% extends 'message_app/navbar.html' %}
{% block page_title %}Agorean | Popular{% endblock page_title %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'message_app/popular.css' %}">

  <div id = "main">

    <br>
    <div id = "posts">

    <h1>Popular Posts</h1>
    <p id = 'info'>This page features the posts that have generated the most likes.</p>
    <br>

    {% for message in posts %}
      {% include "message_app/post.html" %}
    {% empty %}

      <p>No messages yet.</p>
    {% endfor %}
    </div>

  </div>

{% endblock %}
