
a{
  text-decoration: none;
}

#navbar{
  display: inline-block;
  width: 100%;
  height: 40px;

}


#agorean{
  display: inline-block;
  font-size: 40px;
  color: #536177;
  margin-left: 10px;
}

#leftside{
  display: inline-block;
  width:600px;
  margin-left: 100px;
  color: #536177;
}

  #leftside input{
    margin: 5px;
    font-size: 20px;
    margin-top: 20px;
    width: 250px;
    border-style: none;
  }

  #register{
    background-color: #6799ff;
    color: white;
    border-radius: 5px;
  }
  #squid_errors{
    margin: -340px -50px 20px 10px;
    float: right;
  }
  #squid{
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 100%;
    vertical-align: top;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }

  .bounce {
        animation-name: bounce;
        animation-timing-function: ease;
    }

    @keyframes bounce {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(0px); }
        50%  { transform: scale(1,1)    translateY(0); }

    }

  #errors{
    display: inline-block;
    width: 300px;
    float: right;
    color: red;
  }

  #rightside{
    display: inline-block;
    margin-left: 200px;
    margin-top: -10px;
    vertical-align: top;
    padding: 55px;
    padding-top: 100px;
    background-color: #404853;
    height: 67%;
  }
    #rightside input{
      font-size: 20px;
      margin: 5px;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      border-style: none;
      border-radius: 5px;
      width: 200px;
    }
    #rightside h2{
      color: white;
      text-align: center;
    }
    #login{
      background-color:  #6799ff;
      color: white;
    }
