html, body{
  height: 100%;
}

* {
  font-size: 17px;
  font-family: times;
}

#main{
  background-color: #404853;
  border-top-style: solid;
  border-width: .5px;
  height: 100%;
  margin: -10px;
  padding: 10px;
  padding-top: 30px;
}

#main_body{
  display: inline-block;
  background-color: white;
  margin-left: 200px;
  padding: 20px 100px 100px;
  width: 650px;
}

#gear{
  width: 55px;
  border-radius: 100%;
  -webkit-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.inputclass{
  border: none;
  margin-bottom: 10px;
  color: #404853;
}

#submit{
  background-color: #6799ff;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-style: none;
  margin: 10px 0px 5px;
}

#delete_account{
  display: inline-block;
  float: right;
  margin-top: -140px;
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
