<html>
<head>
  <title>Agorean</title>
  <link rel="shortcut icon" href="../media/favicon.ico">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'user_app/index.css' %}">
</head>
<body>
  <div id = "navbar">
  <div id="agorean">
    <a id="agorean" href=""> A G O R E A N</a>
  </div>
  </div>
  <hr>

<div id = "main">

  <div id = "leftside">
    <h2>WANT TO JOIN?</h2>
    <p>Agorean is a free social media website that you can use to share your stories with the world! Become a member to get in on the action. You can delete your account anytime.</p>


    <form action = "{% url 'user_app:register' %}" method="post">
      {% csrf_token %}
      <input type = "email" name = "email" placeholder="Email"><br>
      <input type = "text" name = "username" placeholder="Username"><br>
      <input type = "text" name = "first_name" placeholder="First Name"><br>
      <input type = "text" name ="last_name" placeholder="Last Name"><br>
      <input type = "password" name = "password" placeholder="Password"><br>
      <input type = "password" name = "confirm_password" placeholder="Confirm Password"><br>
      <input id = "register" type = "submit" value="Let's Go!">
    </form>

    <div id = "squid_errors">


      <div id = "errors">
        {% for message in messages %}
          {{message}} <br>
        {% empty %}
          <img id="squid" class="bounce" src="../media/agorean_squid.jpg" alt="">
        {% endfor %}
      </div>
    </div>
  </div>


  <div id = "rightside">
    <div id = "rightinner">

      <h2>ALREADY WITH US?</h2>
      <form action = "{% url 'user_app:login' %}" method="post">
        {% csrf_token %}
        <input type = "email" name = "email" placeholder = "Email"><br>
        <input type = "password" name = "password" placeholder = "Password"><br>
        <input id ="login" type = "submit" value = "Log In">
      </form>

    </div>

  </div>

</div>



</body>
</html>
